<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Etudiant Form</title>
</head>
<body>
<p>
    <h1>Etudiant Form</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="Enregistrer">Enregistrer</button>
    </form>

    <form method="POST">
        {% csrf_token %}
        {{ search_form.as_p }}
        <button type="submit" name="rechercher">Rechercher</button>
        <button type="submit" name="supprimer">Supprimer</button>
        <button type="submit" name="modifier">Modifier</button>
    </form>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    {% if etudiant %}
        <h2>Liste des Etudiants</h2>
        <ul>
        {% for c,i in etudiant.items %}
            <li>{{ c}}: {{i }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>