<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }

    </style>
</head>
<body>
<h1>User email: {{ request.session.user_email }}</h1>
<button type="submit" ><a href="etudiant">Etudiant</a></button>
<button type="submit" >Enseignant</button>
<button type="submit" >Module</button>
<button type="submit" ><a href="bulletin">Bulletin</a> </button>
<button type="submit" ><a href="statistique" >Statistique</a></button>
<button type="submit" ><a href="pv">PV</a></button>
<br>
<a href="logout">Log out</a>
</script>
</body>
</html>