{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<button type="submit" ><a href="etudiant">Etudiant</a></button>
<button type="submit" ><a href="enseignant">Enseignant</a>></button>
<button type="submit" ><a href="admin">Tableux</a></button>
<button type="submit" ><a href="bulletin">Bulletin</a> </button>
<button type="submit" ><a href="statistique" >Statistique</a></button>
<button type="submit" ><a href="pv">PV</a></button>
<br>
<a href="logout">Log out</a>
</script>
</body>
</html>